<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yeah">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_funlogo1"
        android:label="FunnQuyz"
        android:roundIcon="@mipmap/ic_funlogo1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BottomNavigation"
            android:label="@string/title_activity_bottom_navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainPerder"
            android:label="@string/title_activity_main_lose"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainNomeUser"
            android:label="@string/title_activity_main_nome_user"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivityVideo"
            android:label="@string/title_activity_main4_video"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainResultado"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainQuestoes"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainInternet"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4802777834168389~3131526266" />

        <receiver
            android:name=".Alarme"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

    </application>

</manifest>